
/node_modules
/node_modules/animejs
/node_modules/txtgen
/package-lock.json
/package.json
/node_modules/txtgen/.github/workflows
/node_modules/txtgen/.github/workflows/ci-test.yml
/node_modules/txtgen/dist/txtgen.js
/node_modules/txtgen/dist/txtgen.min.js
/node_modules/txtgen/dist/txtgen.min.map
/node_modules/txtgen/src/main.js
/node_modules/txtgen/src/sample.js
/node_modules/txtgen/src/util.js
/node_modules/txtgen/tests
/node_modules/txtgen/tests/jasmine/boot.js
/node_modules/txtgen/tests/jasmine/jasmine_favicon.png
/node_modules/txtgen/tests/jasmine/jasmine-html.js
/node_modules/txtgen/tests/jasmine/jasmine.css
/node_modules/txtgen/tests/jasmine/jasmine.js
/node_modules/txtgen/tests/specs/builtTest.js
/node_modules/txtgen/tests/specs/main.js
/node_modules/txtgen/tests/specs/txtgen.client.js
/node_modules/txtgen/tests/config.js
/node_modules/txtgen/tests/SpecRunner.html
/node_modules/txtgen/tests/start.js
/node_modules/txtgen/types
/node_modules/txtgen/types/index.d.ts
/node_modules/txtgen/types/test.ts
/node_modules/txtgen/types/tsconfig.json
/node_modules/txtgen/types/tslint.json
/node_modules/txtgen/.eslintignore
/node_modules/txtgen/.eslintrc.json
/node_modules/txtgen/LICENSE
/node_modules/txtgen/README.md
/node_modules/txtgen/reset.js
/node_modules/animejs/lib/anime.es.js
/node_modules/animejs/lib/anime.js
/node_modules/animejs/lib/anime.min.js
/node_modules/animejs/LICENSE.md
/node_modules/animejs/package.json
/node_modules/animejs/README.md