::selection {
  background: #a0870b;
}

body {
  margin: 0;
  font-family: "Fira Code", sans-serif;
  background: #000000;
}

* {
  font-family: "Fira Code", sans-serif;
  scroll-behavior: smooth;
}

.mainspace {
  height: calc((98vh - 145.455px) - 1em);
  position: relative;
}

.page__title {
  padding-top: 25px;
  text-align: center;
  margin-top: 0;
}

.buttons {
  align-items: center;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 50px;
}

.textholder {
  border-radius: 15px;
  box-shadow: 0 0 10px #52057b;
  margin: auto;
  width: 50%;
}

.texxtholder:hover {
  box-shadow: 0 0 10px #a600ff;
}

.generateparagraph,
.generatesentence,
.generatearticle {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
}

.contact {
  border: 8px solid #ff0000;
  border-radius: 15px;
}

.contact:hover {
  border: 8px solid #26ff00;
}

.title {
  margin: 0;
  text-align: center;
}

.github {
  padding: 20px;
  color: black;
}

.linkedin {
  padding: 20px;
  color: #2867b2;
}

.twitter {
  padding: 20px;
  color: rgba(29, 161, 242, 1);
}

.social {
  text-align: center;
}
