::selection {
  background: #a0870b;
}

body {
  font-family: "Fira Code", sans-serif;
  background-image: #0e1623;
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Fira Code", sans-serif;
}

.mainspace {
  flex: 1 0 auto;
  min-height: calc(100vh - 190px);
}

.page__title {
  padding-top: 25px;
  text-align: center;
  margin-top: 0;
  color: #00fe77;
  -webkit-box-reflect: below -0.46em linear-gradient(transparent, #0004);
}

.buttons {
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container {
  border-radius: 15px;
  margin: auto;
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.text {
  align-items: center;
  text-align: center;
  line-height: 1.5em;
  z-index: 1000;
  color: #00fe77;
  -webkit-box-reflect: below -0.46em linear-gradient(transparent, #0004);
}

.generateparagraph,
.generatesentence,
.generatearticle {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
}

.contact {
  flex-shrink: 0;
  color: white;
  text-align: center;
  border-radius: 15px;
  border: 1px black solid;
}

.title {
  padding: 20px;
  margin: 0;
  text-align: center;
  color: #00fe77;
}

.github {
  padding: 20px;
  color: black;
}

.linkedin {
  padding: 20px;
  color: #2867b2;
}

.twitter {
  padding: 20px;
  color: rgba(29, 161, 242, 1);
}

.social {
  text-align: center;
}
